{% include head.html %}

<!-- custom slide styles -->
<link rel="stylesheet" type="text/css" href="/css/slides/typo.css" />
<link rel="stylesheet" type="text/css" href="/css/slides/layout.css" />
<link rel="stylesheet" type="text/css" href="/css/slides/nord.css" />
<link rel="stylesheet" type="text/css" href="/css/slides/remark_it_style.css" />
<link rel="stylesheet" type="text/css" href="/css/slides/spaces.css" />
<link rel="stylesheet" type="text/css" href="/css/slides/open-color.css" />
<link rel="stylesheet" type="text/css" href="/css/slides/text-rect.css" />

<!-- mathjax -->
{% if page.mathjax %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<script type="text/javascript">
    MathJax.Hub.Config({
        tex2jax: {
            inlineMath: [['$', '$'], ['\\(', '\\)']],
            displayMath: [['$$', '$$'], ['\\[', '\\]']],
            processEscapes: true
        }
    });
</script>
{% endif %}

<!-- mermaid -->
<script type="module">
    import mermaid from "https://cdn.jsdelivr.net/npm/mermaid@11/dist/mermaid.esm.min.mjs";

    mermaid.initialize({
        startOnLoad: true,
        theme: "forest",
    });
</script>

<!-- slideshow -->
<script src="/js/remark.min.js"></script>
<script>
    let slideshow = {}; // so that decktape export works
    document.addEventListener('DOMContentLoaded', function () {
        slideshow = remark.create({
            source: `{{ content }}`,
            countIncrementalSlides: false,
        });
    });
</script>
